In [51]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn import tree

In [52]:
pacientes =pd.read_csv("covid.csv")
pacientes.dropna(inplace= True)
pacientes.head()

         date      country  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

In [53]:
#variables predictoras
x = pacientes.iloc[:,: -1]
#variable a predecir
y = pacientes.iloc[:,-1]

x = pd.get_dummies(x)
x.head()

,new_cases,new_deaths,total_cases,date_2019-12-31,date_2020-01-01,date_2020-01-02,date_2020-01-03,date_2020-01-04,date_2020-01-05,date_2020-01-06,...,country_United Kingdom,country_United States,country_United States Virgin Islands,country_Uruguay,country_Uzbekistan,country_Vatican,country_Venezuela,country_Vietnam,country_Zambia,country_Zimbabwe
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
#x_trin y Y_train para entrenamiento
#Y_test y X_test para prueba
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.75, random_state=42)

In [55]:

arbol = DecisionTreeClassifier()
arbol.fit(x_train, y_train)

score = arbol.score(x_test, y_test)
print(f"Accuracy :{score * 100.0}")

Accuracy :83.09653916211293

In [64]:
arbol.score(x_test, y_test)
print(f"Accuracy :{score * 100.0}")

Accuracy :83.09653916211293